<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sidebar">
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="/demo/admin" class="sidebar-logo">
            <img th:src="@{/admin/images/logo.png}" alt="site logo" class="light-logo">
            <img th:src="@{/admin/images/logo-light.png}" alt="site logo" class="dark-logo">
            <img th:src="@{/admin/images/logo-icon.png}" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li class="sidebar-menu-group-title">Application</li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
                    <span>Users</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/admin/users(page=0, size=6, sortBy='userId', sortDir='asc')}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Users List</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/users/add}"><i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Add User</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:book-bookmark-linear" class="menu-icon"></iconify-icon>
                    <span>Books</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/admin/books(page=0, size=6, sortBy='bookId', sortDir='asc')}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Books List</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/books/add}"><i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Add Book</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                    <span>Orders</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/admin/orders(page=0, size=6, sortBy='userId', sortDir='asc')}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Orders List</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:ticket-outline" class="menu-icon"></iconify-icon>
                    <span>Vouchers</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/admin/coupons(page=0, size=6, sortBy='couponId', sortDir='asc')}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Vouchers List</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/coupons/add}"><i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Add Voucher</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <i class="ri-news-line text-xl me-14 d-flex w-auto"></i>
                    <span>Blog</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a th:href="@{/admin/blogs}"><i class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Blog</a>
                    </li>
                    <li>
                        <a th:href="@{/admin/blogs/add}"><i class="ri-circle-fill circle-icon text-info-main w-auto"></i> Add Blog</a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/admin/reviews}">
                    <i class="ri-chat-3-line text-xl me-14 d-flex w-auto"></i>
                    <span>Reviews</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>
